<div class="container">
    <div class="row tasks">
        <article role="main">
			<div class="padded col-md-6">

				<h1>New note</h1>

				<%= render 'form' %>

				<%= link_to notes_path, class: 'icon-font' do %> &#59229; <span>Back to Notes</span><% end %>
			</div>
     	</div>
  	</article>
</div>