<% provide(:title, 'Editing Budget Item') %>

<div class="container">
    <div class="row tasks">
        <article role="main">
			<div class="panel padded col-md-10">

				<h1>Editing <%= @budget.name %></h1>

				<%= render 'form' %>

				<%= link_to budgets_path, class: 'icon-font' do %> &#59229; <span>Back to Budgets</span><% end %>

			</div>
     	</div>
  	</article>
</div>