<% provide(:title, 'Resources and Suppliers') %>

<div class="lw-header">
	  <div class="container">
	      <div class="row">
	          <div class="col-md-12">
	              <div class="row">
	                  <div class="col-xs-12 col-sm-12 col-md-12">
	                     <h1><span class="icon-font">&#128278;</span>Resources and Suppliers</h1>
	                  </div> 
	              </div>
	          </div>
	      </div>
	  </div>
</div>

<%= link_to image_tag("hen_party_decorations.jpg", :alt => "Hen party decorations", :class => "header-img"), root_path %>

<div class="container">
    <div class="row resources">
        <article role="main">

        	<div class="col-xs-12 col-sm-12 col-md-12">
             	<h3>Find everything you need to make your hen party extra special. From here you can access games templates, food and drinks recipes and recommended purchases. You can also bookmark items and come back to them later.</h3>
           </div>  

			<div class="col-xs-12 col-sm-4 col-md-4">
				<%= link_to image_tag("http://lorempixel.com/g/400/200", :alt => "10 best Cocktail recipes", size: "200"), root_path %>
				<h2>Recipes</h2>
				<p> Labore, incidunt, magnam harum ipsum iste perferendis animi qui illo perspiciatis laborum odio dolorum id obcaecati reiciendis expedita inventore officiis itaque sed beatae fugiat nesciunt eius assumenda autem. Aut, suscipit maiores molestias ducimus deserunt sunt debitis voluptatum modi tempora ipsum. Odit molestias iure similique laudantium eos non sunt vel distinctio debitis id. Facilis quia eaque aut.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<%= link_to image_tag("http://lorempixel.com/g/400/200", :alt => "Mr & Mrs Game template", size: "200"), root_path %>
				<h2>Mr &amp; Mrs Game template</h2>
				<p> Labore, incidunt, magnam harum ipsum iste perferendis animi qui illo perspiciatis laborum odio dolorum id obcaecati reiciendis expedita inventore officiis itaque sed beatae fugiat nesciunt eius assumenda autem. Aut, suscipit maiores molestias ducimus deserunt sunt debitis voluptatum modi tempora ipsum. Odit molestias iure similique laudantium eos non sunt vel distinctio debitis id. Facilis quia eaque aut.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4">
				<%= link_to image_tag("http://lorempixel.com/g/400/200", :alt => "Shopping", size: "200"), root_path %>
				<h2>10 best Cocktail recipes</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, dolorem, velit deserunt asperiores quibusdam perspiciatis molestiae quas eaque nihil consequuntur tempore veniam cumque officia. Culpa, magnam, incidunt, dolorem ratione ipsa temporibus molestias explicabo labore quidem necessitatibus aspernatur autem quae nobis obcaecati dicta qui quod.</p>
			</div>

        </article>
    </div>
</div>