<div class="container">
    <div class="row tasks">
        <article role="main">
			<div class="padded col-md-10">

				<h1>Editing attendee</h1>

				<%= render 'form' %>

				<%= link_to 'Back', attendees_path %>


			</div>
     	</div>
  	</article>
</div>