<div class="container">
    <div class="row tasks">
        <article role="main">
			<div class="padded col-md-6">

				<h1>New attendee</h1>

				<%= render 'form' %>

				<%= link_to attendees_path, class: 'icon-font' do %> &#59229; <span>Back to attendees</span><% end %>
			</div>
     	</div>
  	</article>
</div>