<div class="container">
    <div class="row tasks">
        <article role="main">
        	<div class="col-md-10 panel panel-default padded">
				<h1><%= @task_list.title %> - Add Task List Item</h1>
				
				<%= form_for [@task_list, @task_item] do |form| %>
				  <%= render partial: form %>
				<% end %>
			</div>
		</article>
  	</div>
</div>