<div class="container">
    <div class="row tasks">
        <article role="main">
			<div class="panel padded col-md-6">

				<h1>Editing <%= @task_list.title %></h1>

				<%= render 'form' %>

				<%= link_to task_lists_path, class: 'icon-font' do %> &#59229; <span>Back to Task Lists</span><% end %>
			</div>
     	</div>
  	</article>
</div>