<div class="container">
    <div class="row tasks ">
        <article role="main">
			<div class="padded col-md-4">
				<h1>New Task list</h1>

				<%= render 'form' %>

				<%= link_to 'Back', task_lists_path %>
			</div>
     	</div>
  	</article>
</div>