// Place all the styles related to the attendees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'sass';

.sums {
	border-top:2px solid $very-dark;
	margin-top:20px;
	color:#fff;
	
	li {
		list-style:none;
		padding:10px;
		display:inline-block;
		color:$very-dark;
	}
}

.table-responsive {border:none!important;}