// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pink: #fd75a2;
$pink-dark: #a63c5f;
$very-dark: #3a2d31;
$purple: #7f5060;

/*DASHBOARD*/
ul.dashboard {
  padding:0;
  li {
    display:block;
    float:left;
    width:45%;
    margin:1.5% 3% 1.5% 0%;
    /*background-color: #282828;*/
    text-align: center;
    font-size: 30px;
    background-color:#fff;
    border: 2px solid $pink-dark;
    border-radius: 4px;
    a {
      text-decoration: none;
      color:$pink-dark;
      padding:30px 0 25px 0;
      &:hover {color:#fff;}
    }
    span {
      display: block;
      color:$pink-dark;
      font-size:20px;
      margin-top:15px;
    }
    &:hover {
    background-color: $very-dark;
    span {color:#fff;}
    border: 2px solid $very-dark;
    }
  }
}

.instructions {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  font-weight: 300;
}

