// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*variable*/
$pink: #fd75a2;
$pink-dark: #a63c5f;
$very-dark: #3a2d31;
$purple: #7f5060;

/*mixin*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body.homes-index {
    h3 {color:$very-dark;}

    
    .padded, .panel {
      overflow:hidden; 
      margin-top:10px; 
      margin-bottom:15px;
      .head {
        color:$purple;
        font-weight:700;
      }
      .icon-font {margin-right:5px;}
      span.caption {
        text-align: center; 
        font-size: 12px; 
        font-weight: 300;
        margin:0 0 14px -5px; 
        display: block;
      }
    }
    .group {
      .panel-body{ padding:22px 15px;}
      .btn-primary {
        width: 80px;
        display: inline-block;
        margin-left:0.5%;
        padding: 24px;
        font-size: 25px;
      }
    }
    .view  {
      float:right; 
      padding-right:10px;
    }
}
.dash-img {
  position: fixed;
  z-index: -1;
  width:100%;
  @media (max-width: 768px) {
      width:auto;
    } 
}

.wrapper {
  background:#e2dfe0;
  padding-bottom:30px; 
  .row {margin-top:15px;}
}

.nav-tabs {
  margin-top:70px;
  a {background: #fff;}
  li a {
  @media (max-width: 480px) {
      margin-right:0;
      font-size: 12px;
      padding:10px 5px;
    } 
  }
}

.event_details {
  float:left;
  width:30%;
  margin-right: 3%;
  .date {
    font-weight: 700;
    font-size: 55px;
    line-height: 49px; 
    @media (max-width: 480px) {
      font-size: 30px;
    }        
  }
  span.month {
    font-size: 29px;
    line-height: 45px; 
    @media (max-width: 480px) {
      font-size: 25px;
    }
  }
  .address {font-size: 16px;}
  .countdown {
    font-weight: 700;
    color:$purple;
  }
  p {font-size: 20px; margin:0;}
  .btn, .email {
    position: absolute;
    bottom:30px;
    right:30px;
  }
  .email {top:70px;}
}
.total {
  text-align: center;
  font-size: 73px;
  font-weight: 700;
  color:$purple;
  background-color: #e0d3d7;
  padding:0 0 1px 0;
}
.budgets {text-align: center;}
.bg-info,  .bg-warning {
  padding:10px;
  font-size: 14px;
  span {
    float:right;
    opacity: .5;
    cursor: pointer;
    font-size: 18px;
    margin-top:-5px;
  }
  button { font-size: 16px; margin:0 10px;}
}
.media-list li {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2dfe0;
  .date-small {font-size: 12px;}
}

.new-event {float:right;}


.instructions {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  font-weight: 300;
}



.sessions-new, .registrations-new, .passwords-new, .registrations-edit, .create_event-index {
  background:$very-dark;
  .form {
    margin:10px auto 0 auto;
    width:400px;
    @media (max-width: 480px) {
      width:320px;
    }  
    input {
        width:100%;
        padding:5px 4px;
        font-size: 16px;
        margin-bottom:12px;
      }
    .edit_user {
      i {
        font-size: 12px;
        color:#fff;
      }
    }
    .btn-primary {
      width:45%;
      padding:8px;
      margin-top:10px;
      color:#fff;
    }
    input[type="checkbox"] {
      width:20px;
      border:none;
    }
    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 48px;
        color:#fff;
        margin:40px 0 20px 0;
    }
    label {
      color:#fff;
      font-size: 17px;
      font-weight: 500;
    }
    span.links, p {
      color:#fff;
      display: inline-block;
      line-height: 2;
      font-size: 15px;
    }
    a {
      color:$pink;
      &:hover {
        color: #fff;
      }
    }
  }
}
.cancel_account {
  margin-top:10px;
  p {
    padding:0;
    margin:0;
  }
  input[type="submit"] {
    width:300px;
  }
}