// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pink: #fd75a2;
$pink-dark: #a63c5f;
$very-dark: #3a2d31;
$purple: #7f5060;

body.notes-index, body.notes-new, body.notes-edit {
	background: url(image_path('lines.jpg')) repeat; 
}

.filter, .grid {
	float:left;
	margin-top:15px;
	font-size: 16px;
	width:48%;
}

.notes {
  	margin: 1em 0 1em 0;
  	input[type=text], textarea {
    width:100%;
    padding:5px;
  }
  .padded {
    background:#fff;
    padding:1em 1.5em;
    border: 2px solid #d1b8c0;
    word-wrap:break-word;
        -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
  }
  .date {color:$purple; font-weight: 500;}
  h2 {
	   margin:0 0px 10px 0;
	   font-size: 23px;
  }
  ul li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    margin-top:10px;
  }
  .created {font-size: 14px;}
}

.notes.first { 
	border:3px solid $purple; 
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    .padded {border:none;}
}
