// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pink: #fd75a2;
$pink-dark: #a63c5f;
$very-dark: #3a2d31;
$purple: #7f5060;

.notes {
  margin: 1em 0 1em 0;
  input[type=text], textarea {
    width:100%;
    padding:5px;
  }
  .padded {
    background:#fff;
    padding:1em 1.5em;
    border: 1px solid #d1b8c0;
    word-wrap:break-word;
  }
 
  h2 {
    margin:0 0px 10px 0;
  }
  ul li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    margin-top:10px;
  }
  .created {font-size: 14px;}
}

.notes.first { border:3px solid $pink; }