@font-face {
  font-family: 'Entypo'; font-style: 'normal'; font-weight: 'normal'; 
  src: url(font-path('webfonts/entypo.eot')); 
  src: url(font-path('webfonts/entypo.eot?#iefix')) format('eot'), 
        url(font-path('webfonts/entypo.woff')) format('woff'),  
        url(font-path('webfonts/entypo.ttf')) format('truetype'), 
        url(font-path('webfonts/entypo.svg#entypo')) format('svg');
}

$pink: #fd75a2;
$pink-dark: #a63c5f;
$very-dark: #3a2d31;
$purple: #7f5060;

body{ 
  font: {
    family: 'Museo Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    size:15px;
  }
  color: #3a2d31;  
  background:#fbf6f6; /*f0e5e8*/
  -webkit-font-smoothing: antialiased;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 34px;
  font-weight: 700;
  color:$purple;
}

a.icon-font {
font-family: 'Entypo';
display: block;
span {font-family: 'Museo Sans', Helvetica, Arial, sans-serif;}
}

span.icon-font {
  font-family: 'Entypo';
  margin-right:20px;
}

ul {padding:0;}

/* HEADER */
header{
  padding:6px 0;
  background: $pink-dark;
  p {
    margin-top:15px;
    display: block;
    float: left;
    color:#fff;
  }
  h1 {
    margin-bottom: 0;
    line-height: 0;
  }
}

.lw-header {
  background:#fff;
  padding:25px 0;
  border-bottom: 1px solid #d1b8c0;
  h1 {margin:0;}
}

.logo {
  background: url(image_path('nameandlogo.png')) no-repeat; 
  text-indent: -99999px;
  display:block;
  margin-left:-10px;
  float:left;
  a {
    width: 150px;
    height: 40px;
    display: block;
    margin-top: -10px;
  }
}

/* NAVIGATION */
nav{
  margin-top: 7px;
  ul li {
    padding:2px 0;
    a {
      color:$pink-dark;
      font-size: 16px;
    }
  }
  /*li {
    display:block;
    float:left;
    margin-left:5px;
  }
  a.login_btn { 
    color:#fff;
    float:right;
    text-align: center; 
    background-color:$pink;
  }
  ul.loggedin {
    margin-top:0px;
    float: right;
    padding:0;
  }*/
  .btn-group {
    float:right;
    .icon-font { margin-right:5px; }
  }
  
}

ul.menu {
  position:absolute;
  top:150px;
  left:20px;
  li {
    text-decoration: none;
    list-style: none;
  }
}

.btn-primary {
  background-color:$pink;
  border:none;
  display:inline-block;
  padding:6px 11px;
  text-decoration: none;
  font-size: 15px;
  &:hover {
    background-color:$very-dark;
  }
  a:hover {
  color:#fff;
  }
}

a.sub-menu, .sub-menu a { 
    padding-top:15px;
    float:right;
}
.sub-menu .left {float:left;}

.padded {
  padding:15px;
  word-wrap:break-word;
}

/*Submit buttons
input[type="submit"], .login_btn {
  background-color: $pink;
  border:none;
  color:#fff;
  font-weight: 500;
  padding:5px 15px;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin:10px 0;
}
.btn.login {
  float:right;
  margin-top:7px;
}*/

.no-items {
  clear:both;
  padding:25px 15px;
}

.count {
  font-weight: 700;
}
textarea, input[type="text"] {  
  padding:10px;
  font-size:14px;
  border:1px solid $purple;
} 

textarea {height:300px;}

article {margin-bottom:30px;}



/*Scaffold*/
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
