@font-face {
  font-family: 'Entypo'; font-style: 'normal'; font-weight: 'normal'; 
  src: url(font-path('webfonts/entypo.eot')); 
  src: url(font-path('webfonts/entypo.eot?#iefix')) format('eot'), 
        url(font-path('webfonts/entypo.woff')) format('woff'),  
        url(font-path('webfonts/entypo.ttf')) format('truetype'), 
        url(font-path('webfonts/entypo.svg#entypo')) format('svg');
}

$pink: #fd75a2;
$pink-dark: #a63c5f;
$very-dark: #3a2d31;
$purple: #7f5060;

body{ 
  font: {
    family: 'Museo Sans', Helvetica, Arial, sans-serif;
    weight: 500;
    size:16px;
  }
  color: #3a2d31;  
  background:#fbf6f6; /*f0e5e8*/
  -webkit-font-smoothing: antialiased;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 1.5;
}


a.icon-font {
font-family: 'Entypo';
display: block;
span {font-family: 'Museo Sans', Helvetica, Arial, sans-serif;}
}

span.icon-font {
  font-family: 'Entypo';
  margin-right:20px;
}

ul {padding:0;}

/* HEADER */
header{
  padding:6px 0;
  /*border-top: 2px solid $pink;*/
  background: $pink-dark;
  /*background-color: #df4b7c;*/
  margin-bottom: 30px;
  p {
    margin-top:15px;
    display: block;
    float: left;
    color:#fff;
  }
  h1 {
    margin-bottom: 0;
    line-height: 0;
  }
}

.logo {
  background: url(image_path('nameandlogo.png')) no-repeat; 
  text-indent: -99999px;
  display:block;
  margin-left:-10px;
  float:left;
  a {
    width: 150px;
    height: 40px;
    display: block;
    margin-top: -10px;
  }
}

/* NAVIGATION */
nav{
  margin-top: 7px;
  li {
    display:block;
    float:right;
    margin-left:5px;
  }
  a.login_btn { 
    color:#fff;
    float:right;
    text-align: center; 
    background-color:$pink;
  }
  ul.loggedin {
    margin-top:0px;
    float: right;
    padding:0;
  }
  
}

.btn-primary {
  background-color:$pink;
  border:none;
  display:inline-block;
  a {
    text-decoration: none;
    color:#fff;
    padding: 6px;
    display:block;
  }
  &:hover {
    background-color:$very-dark;
  }
  a:hover {
  color:#fff;
  }
}




/*BUTTONS*/
input[type="submit"], .login_btn {
  background-color: $pink;
  border:none;
  color:#fff;
  font-weight: 500;
  padding:5px 15px;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin:10px 0;
}
.btn.login {
  float:right;
  margin-top:7px;
}

.no-items {
  clear:both;
  padding:25px 15px;
}

.count {
  font-weight: 700;
}

.padded {
  background:#fff;
  padding:1em 1.5em;
  border: 1px solid #d1b8c0;
  border-radius: 4px;
  word-wrap:break-word;
}

/*Scaffold*/

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
