// Place all the styles related to the task_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.functions {
	text-align:right;
		a {
		display:inline;
		margin-right:15px;
	}
}
td {
	background-color:#fff;
}
.sub-menu {
	a {
	  margin-left: 20px; 
	  padding-top:15px;
	  float:right;
	}
	h1 {display:inline;}
}
