// Place all the styles related to the task_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$pink: #fd75a2;
$pink-dark: #a63c5f;
$very-dark: #3a2d31;
$purple: #7f5060;

body.task_lists-index, body.task_lists-new, body.task_lists-edit {
  background: url(image_path('light_grey.png')) repeat; 
}

body.task_lists-new, body.attendees-new, body.task_lists-edit, body.attendees-edit, body.task_items-edit, body.task_items-new, body.notes-new, body.notes-edit  {
  .padded {
    margin-top:20px;
    border:none;
  }
  label {margin-top:10px;}
}

.tasklists-layout {margin-left: -12px;}

.activity {
  img {
    margin-right:10px;
    float:left;
  }
  h4 {color:$purple; font-weight: 700;}
  span {
    color:$purple;
    font-size: 14px;
  }
}
.tasks {
  margin: 1em 0 1em 0;
  input[type=text], textarea {
    width:100%;
    padding:10px;
  }
  .padded {

    border: 1px solid #d1b8c0;
    word-wrap:break-word;
  }
  .padded.activity { 
    background-color: #dfddde;
    border:none;
  }
  ul li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    margin-top:10px;
  }
  .created {
    font-size: 15px;
    color:$purple;
  }
}

.new {
  padding-top:40px;
  @media (max-width: 767px) {
        padding-top:10px;
  }
  a {
    float:right;
    @media (max-width: 767px) {
        float:left;
    }
  }
}