// Place all the styles related to the task_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {margin-top:20px;}
.functions {
	text-align:right;
		a {
		display:inline;
		margin-right:15px;
	}
}
td {
	background-color:#fff;
}