<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">	
				<div class="logo pink"><h1><%= link_to "Henplan", root_path %></h1></div>
				
					<% if current_page?(login_path) %>
						<%= link_to "Register", register_path, class: "btn btn-primary login" %>
					<% else %>
						<%= link_to "Login", login_path, class: "btn btn-primary login" %>
					<% end %>
				
			</div>
		</div>
	</div>
</header>

